.section {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 318px;
    padding: 43px 0 54px;
    background: linear-gradient(
        270deg,
        rgba(71, 147, 50, 0.95) 0%,
        rgba(71, 147, 50, 0.95) 53.09%,
        rgba(71, 147, 50, 0.95) 100.93%
    );
    color: #fff;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 670px;
}

.title {
    margin: 0 0 16px;
    font-weight: 900;
    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase;
}

.text {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 28px;
}

.buttonRow {
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 43px;
    padding: 0;
    background: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08px;
    text-align: center;
    color: #000;
    transition: color var(--transition);
}

.button:hover {
    color: var(--color-green-dark);
    text-decoration: underline;
}

.button:active {
    color: var(--color-green-dark);
}

.image {
    position: absolute;
    right: -68px;
    bottom: -115px;
}

.imageImg {
    height: 450px;
    width: auto;
}

@media (min-width: 990px) and (max-width: 1230px) {
    .image {
        right: 0;
        bottom: -35px;
    }

    .imageImg {
        height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 989px) {
    .content {
        max-width: 100%;
    }

    .title {
        text-align: center;
    }

    .image {
        display: none;
    }

    .button {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 37px 0 46px;
    }

    .content {
        max-width: 100%;
    }

    .title {
        text-align: left;
        font-size: 22px;
        line-height: 35px;
    }

    .image {
        display: none;
    }

    .button {
        width: 100%;
        margin: 0;
        font-size: 15px;
    }
}
