.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #363636;
    color: #fff;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1230px;
    padding: 20px 15px;
    margin: 0 auto;
}

.wrapper a {
    color: #fff;
    text-decoration: none;
}

.wrapper a:hover {
    color: var(--color-green);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    width: 40%;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.menuBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.projectsBlock {
    max-width: 304px;
}

.companyBlock {
    max-width: 164px;
}

.servicesBlock {
    max-width: 253px;
    flex-shrink: 0;
}

.menuTitle {
    font-weight: 500;
    font-size: 19.2px;
    line-height: 30.72px;
    color: #86c232;
}

.menuList {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuList li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    color: #fff;
}

.menuList li a:hover {
    text-decoration: underline;
}

.underMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

.social {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 304px;
}

.socialTitle {
    font-size: 1.2em;
    padding-right: 30px;
}

.socialButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.socialButton a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.socialButton:hover {
    transform: translateY(-4px);
}

.legal {
    line-height: 1.6;
    font-size: 14px;
}

.contactBlock {
    flex: 1 1 auto;
}

.contactsInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.6;
}

.contactsInfo p,
.contactsInfo span {
    display: flex;
    align-items: center;
}

.contactsInfo svg {
    width: 14px;
    margin-right: 6px;
    flex-shrink: 0;
}

.addressBlock {
    align-items: flex-start !important;
}

.addressBox {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
}

.btnContact {
    display: inline-flex !important;
    text-decoration: underline;
    margin-top: 4px;
}

.phoneBtn {
    font-weight: 600;
    font-size: 14px;
    line-height: 22.4px;
}

.bottom {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    color: #666;
}

.bottom p,
.bottom span {
    color: #666;
}

.bottom a {
    margin: 0 15px;
    color: #666 !important;
}

.bottom a:hover {
    color: var(--color-green) !important;
}

.delimiter {
    color: #666;
}

.toTop {
    position: fixed;
    bottom: 60px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition:
        background-color 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s ease;
    z-index: 1000;
}

.toTopVisible {
    opacity: 1;
    visibility: visible;
}

.toTop:hover {
    background: var(--color-green);
}

.toTop:hover svg path {
    fill: #fff;
    stroke: #fff;
}

.toTop:focus {
    outline: none;
}

@media (max-width: 989px) {
    .top {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .right {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;
    }

    .contactBlock {
        margin-top: 0;
        flex-shrink: 0;
    }
}

@media (max-width: 559px) {
    .menus,
    .right {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .menuBlock {
        align-items: center;
        margin-bottom: 10px;
    }

    .menuList {
        align-items: center;
    }

    .menuList li a {
        font-weight: 300;
    }

    .menuTitle {
        font-size: 1em;
    }

    .underMenu {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .social {
        justify-content: center;
        margin-bottom: 10px;
    }

    .socialTitle {
        font-size: 1em;
        padding-right: 15px;
    }

    .socialButton a,
    .socialButton a svg {
        width: 20px;
        height: 20px;
    }

    .legal,
    .contactsInfo {
        text-align: center;
        font-size: 14px;
    }

    .contactsInfo p,
    .contactsInfo span {
        justify-content: center;
    }

    .addressBlock,
    .addressBox {
        align-items: center !important;
    }

    .bottom {
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .delimiter {
        display: none;
    }

    .toTop {
        bottom: 30px;
        right: 20px;
    }
}
